section(data-bind='if: $root.isCurrentPage("questors")')
  h2 This quest has 
    span(data-bind='text: quest().current().numPlayersNeeded')
    | &nbsp;players
  
  ul.list-group(data-bind='foreach: quest().current().players')
    li.list-group-item(data-bind='text: name')
  
  input.quest-vote#nonking-quest-approve(
    type='radio'
    name='nonking-quest-vote'
    value='approve'
  )
  label(for='nonking-quest-approve') Approve
  
  input.quest-vote#nonking-quest-reject(
    type='radio'
    name='nonking-quest-vote'
    value='reject'
  )
  label(for='nonking-quest-reject') Reject
