section(data-bind='visible: $root.isCurrentPage("questors")')
  h2 This quest has 
    span(data-bind='text: quest().current().numPlayersNeeded')
    | &nbsp;players
  
  // ko if: quest().needsTwoFails()
  p Note: Two fails are required to fail this quest
  // /ko
  
  ul.list-group(data-bind='foreach: quest().current().players')
    li.list-group-item
      span(data-bind='text: name') 
      img(
        src='/images/crown.jpg'
        width='54'
        height='30'
        alt='King'
        data-bind='visible: $root.quest().hasKing($data)'
      )
  
  +voteRadioGroup('nonking')
