section(data-bind='if: $root.isCurrentPage("questors")')
  h2 This quest has 
    span(data-bind='text: quest().current().numPlayersNeeded')
    | &nbsp;players
  
  ul.list-group(data-bind='foreach: quest().current().players')
    li.list-group-item
      span(data-bind='text: name') 
      img(
        src='/images/crown.jpg'
        width='54'
        height='30'
        alt='King'
        data-bind='visible: $root.quest().isKing($data)'
      )
  
  +voteRadioGroup('nonking')
