section(data-bind='if: $root.isCurrentPage("questors")')
  h2 This quest has 
    span(data-bind='text: quest().current().numPlayersNeeded')
    | &nbsp;players
  
  ul(data-bind='foreach: quest().current().players')
    li(data-bind='text: name')
  
  input.quest-vote#nonking-quest-accept(
    type='radio'
    name='nonking-quest-vote'
    value='accept'
  )
  label(for='nonking-quest-accept') Accept
  
  input.quest-vote#nonking-quest-reject(
    type='radio'
    name='nonking-quest-vote'
    value='reject'
  )
  label(for='nonking-quest-reject') Reject
