section(data-bind='visible: $root.isCurrentPage("new_questors")')
  h2 Choose 
    span(data-bind='text: quest().current().numPlayersNeeded')
    | &nbsp;players for this quest
  
  // ko if: quest().needsTwoFails()
  p Note: Two fails are required to fail this quest
  // /ko
  
  .row
    section.col-sm-3
      h3 Not going
      select#nonquestors(
        size='10'
        data-bind='options: game().nonquestors,\
          optionsText: "name",\
          optionsValue: "_id"'
      )
    
    .move-btns.col-sm-2
      button.btn.btn-move(
        type='button'
        data-bind='click: quest().addQuestors,\
          disable: quest().hasEnoughQuestors'
      )
        span.glyphicon.glyphicon-arrow-right(aria-hidden='true')
        span.sr-only Add questor
      
      button.btn.btn-move(
        type='button'
        data-bind='click: quest().removeQuestors'
      )
        span.glyphicon.glyphicon-arrow-left(aria-hidden='true')
        span.sr-only Remove questor
    
    section.col-sm-offset-1.col-sm-3
      h3 Going
      select#questors(
        size='10'
        data-bind='options: quest().current().players,\
          optionsText: "name",\
          optionsValue: "_id"'
      )
  
  .row
    .col-sm-offset-2.col-sm-7
      +voteRadioGroup('king')
  
  .has-error(data-bind='visible: quest().hasError')
    .help-block(data-bind='text: quest().error')
  
  .row
    .col-sm-offset-3.col-sm-6
      button.btn.btn-default(
        type='button'
        data-bind='click: quest().confirmStart'
      ) Finalize
