section(data-bind='if: $root.isCurrentPage("new_questors")')
  h2 Choose 
    span(data-bind='text: quest().current().numPlayersNeeded')
    | &nbsp;players for this quest
  
  .row
    section.col-sm-4
      h3 Not going
      select#nonquestors(
        size='10'
        data-bind='options: game().nonquestors,\
          optionsText: "name",\
          optionsValue: "_id"'
      )
    
    .move-btns.col-sm-1
      button.btn.btn-move(
        type='button'
        data-bind='click: quest().addQuestors,\
          disable: quest().hasEnoughQuestors'
      )
        span(aria-hidden='true') &raquo;
        span.sr-only Add questor
      
      button.btn.btn-move(
        type='button'
        data-bind='click: quest().removeQuestors'
      )
        span(aria-hidden='true') &laquo;
        span.sr-only Remove questor
    
    section.col-sm-offset-3.col-sm-4
      h3 Going
      select#questors(
        size='10'
        data-bind='options: quest().current().players,\
          optionsText: "name",\
          optionsValue: "_id"'
      )
  
  .center-block.text-center
    +voteRadioGroup('king')
  
  .has-error(data-bind='if: quest().hasError')
    .help-block(data-bind='text: quest().error')
  
  .center-block.text-center
    button.btn.btn-default(
      type='button'
      data-bind='click: quest().confirmStart'
    ) Finalize
