section(data-bind='if: $root.isCurrentPage("new_questors")')
  h2 Choose 2 players for this quest
  
  select#nonquestors(size='5', data-bind='foreach: game().nonquestors')
    option(data-bind='text: name, attr: { value: _id }')
  
  button(
    type='button'
    data-bind='click: quest().addQuestors, disable: quest().hasEnoughQuestors'
  )
    span(aria-hidden='true') &raquo;
    span.sr-only Add questor
  
  button(type='button', data-bind='click: quest().removeQuestors')
    span(aria-hidden='true') &laquo;
    span.sr-only Remove questor
  
  select#questors(size='5', data-bind='foreach: quest().current().players')
    option(data-bind='text: name, attr: { value: _id }')
  
  input.quest-vote#king-quest-accept(
    type='radio'
    name='king-quest-vote'
    value='accept'
  )
  label(for='king-quest-accept') Accept
  
  input.quest-vote#king-quest-reject(
    type='radio'
    name='king-quest-vote'
    value='reject'
  )
  label(for='king-quest-reject') Reject
  
  // ko if: quest().hasError
  .error(data-bind='text: quest().error')
  // /ko
  
  button(type='button', data-bind='click: quest().confirmStart') Finalize
