section(data-bind='visible: $root.nav().isCurrentPage("new_quest_outcome")')
  h2 Choose your desired quest outcome
  
  button.quest-outcome-btn(
    type='button'
    data-bind='click: questOutcome().createSuccess'
  )
    img.img-responsive(
      src='/images/success.jpg'
      alt='Success'
      width='187'
      height='289'
      aria-hidden='true'
    )
    span.sr-only Success
  button.quest-outcome-btn(
    type='button'
    data-bind='click: questOutcome().createFail, disable: player().isGood'
  )
    img.img-responsive(
      alt='Fail'
      width='187'
      height='289'
      aria-hidden='true'
      data-bind='attr: { src: $root.questOutcome().failImg() }'
    )
    span.sr-only Fail
