section(data-bind='visible: $root.isCurrentPage("games")')
  h2 Join a game
  
  .clearfix
    button.btn-link.pull-right(
      type='button'
      data-bind='click: goToNewGame'
    ) New game
  // ko if: game().isPlaying
  .clearfix
    button.btn-link.pull-right(
      type='button'
      data-bind='click: game().continue'
    ) Continue existing game
  // /ko
  
  // ko if: game().hasGames
  .table-responsive
    table.table
      thead: tr
        th(scope='col') Name
        th(scope='col') Created at
        th(scope='col') Players
      tbody(data-bind='foreach: game().list')
        tr
          td
            button.btn-link(
              type='button'
              data-bind='text: name,\
                click: function() { $root.player().confirmJoinGame($data._id) }'
            )
          td(data-bind='text: $root.formatDate($data.createdAt)')
          td(data-bind='text: players.length')
  // /ko
  // ko ifnot: game().hasGames
  p No games to join
  // /ko
  
