section(data-bind='visible: $root.nav().isCurrentPage("new_game")')
  h2 New game
  
  form.new-game(data-bind='submit: game().confirmCreate')
    .form-group(data-bind='css: { "has-error": game().hasError }')
      label.control-label(for='game-name') Game name
      input.form-control#game-name(
        type='text'
        data-bind='hasFocus: $root.nav().isCurrentPage("new_game")'
      )
      // ko if: game().hasError
      .help-block(data-bind='text: game().error().name.message')
      // /ko
    
    .form-group
      label(for='game-num-players') How many players?
      input.form-control#game-num-players(
        type='number'
        min='5'
        max='10'
        value='5'
      )
    
    button.btn.btn-default(type='submit') Choose characters &raquo;

  button.pull-right.btn-link(
    type='button'
    data-bind='click: nav().goToGames'
  ) back
