section(data-bind='visible: $root.nav().isCurrentPage("players")')
  h2(data-bind='text: game().current().name')
  
  // ko if: player().isGameCreator
  button.btn.btn-danger.pull-right(
    type='button'
    data-bind='click: game().confirmDelete'
  ) Delete game
  // /ko
  // ko ifnot: player().isGameCreator
  button.btn-link.pull-right(
    type='button'
    data-bind='click: player().leaveGame, visible: !$root.game().isPlaying()'
  ) Leave game
  // /ko
  
  section
    h3 Players
    ul.list-group(data-bind='foreach: game().current().players')
      li.list-group-item(data-bind='text: name')
  
  // ko if: player().isGameCreator
  button.btn.btn-default(
    type='button',
    data-bind='click: game().confirmStart, enable: game().canStart'
  ) Choose characters &raquo;
  // /ko
