.modal.fade#confirm-dialog(
  role='dialog'
  aria-hidden='true'
  aria-labelledby='confirm-dialog-heading'
)
  .modal-dialog.modal-sm
    .modal-content.panel(data-bind='css: confirmDialog().type')
      .modal-header.panel-heading
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') &times;
          span.sr-only Close
        h4.modal-title.panel-title#confirm-dialog-heading Are you sure?
      .modal-body.panel-body
        p(data-bind='text: confirmDialog().message')
      .modal-footer.panel-footer
        button(
          type='button'
          data-dismiss='modal'
          data-bind='text: confirmDialog().negativeBtnText'
        )
        button(
          type='button'
          data-bind='click: confirmDialog().action,\
            text: confirmDialog().positiveBtnText'
        )

.modal.fade#action-dialog(
  role='dialog'
  aria-hidden='true'
  aria-labelledby='action-dialog-heading'
)
  .modal-dialog.modal-sm
    .modal-content.panel(data-bind='css: actionDialog().type')
      .modal-header.panel-heading
        button.close(type='button', data-bind='click: actionDialog().action')
          span(aria-hidden='true') &times;
          span.sr-only Close
        h4.modal-title.panel-title#action-dialog-heading(data-bind='text: actionDialog().heading')
      .modal-body.panel-body
        p(data-bind='text: actionDialog().message')
      .modal-footer.panel-footer
        button(type='button', data-bind='click: actionDialog().action') Ok

.modal.fade#waiting-dialog(
  role='dialog'
  aria-hidden='true'
  aria-labelledby='waiting-dialog-heading'
)
  .modal-dialog.modal-sm
    .modal-content.panel.panel-warning
      .modal-header.panel-heading
        h4.modal-title.panel-title#waiting-dialog-heading Waiting
      .modal-body.panel-body
        p(data-bind='text: waitingDialog().message')
      .modal-footer.panel-footer(data-bind='if: waitingDialog().isDone')
        button(type='button', data-dismiss='modal') See results

.modal.fade#info-dialog(
  role='dialog'
  aria-hidden='true'
  aria-labelledby='info-dialog-heading'
)
  .modal-dialog.modal-sm
    .modal-content.panel.panel-info
      .modal-header.panel-heading
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') &times;
          span.sr-only Close
        h4.modal-title.panel-title#info-dialog-heading(
          data-bind='text: infoDialog().heading'
        )
      .modal-body.panel-body
        p(data-bind='text: infoDialog().message')
      .modal-footer.panel-footer
        button(type='button', data-dismiss='modal') Ok
